.ms-spinner {
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-right-color: transparent;
  animation: spin89345 0.6s linear infinite;
}

.ms-spinner.--absolute {
  position: absolute;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
