.ms-tree-view-popup-wrapper .dx-popup-content {
  padding: 0;
}

.ms-tree-view__content {
  padding: 10px 16px;
}

.ms-tree-view .dx-treeview {
}

.dx-treeview-node {
  --level-space: 24px;
  --icon-width: 16px;
  padding-left: 0px;

  &[aria-level="1"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 1);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 1 - var(--icon-width));
    }
  }
  &[aria-level="2"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 2);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 2 - var(--icon-width));
    }
  }
  &[aria-level="3"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 3);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 3 - var(--icon-width));
    }
  }
  &[aria-level="4"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 4);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 4 - var(--icon-width));
    }
  }
  &[aria-level="5"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 5);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 5 - var(--icon-width));
    }
  }
  &[aria-level="6"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 6);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 6 - var(--icon-width));
    }
  }
  &[aria-level="7"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 7);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 7 - var(--icon-width));
    }
  }
  &[aria-level="8"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 8);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 8 - var(--icon-width));
    }
  }
  &[aria-level="9"] {
    > .dx-treeview-item .ms-tree-view__item {
      margin-left: calc(var(--level-space) * 9);
    }
    > .dx-treeview-toggle-item-visibility {
      left: calc(var(--level-space) * 9 - var(--icon-width));
    }
  }
}

/*  */
.dx-treeview-item {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 0 12px;
  border-radius: 4px;

  &.dx-state-hover {
    background-color: var(--gray-100);
  }
}

/* Trạng thái focus */
.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
  background-color: var(--gray-100);
  color: var(--primary-text-color);
}

/* Trạng thái được chọn */
.dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
  background-color: var(--gray-100);
  color: var(--primary-color-500);
}

/* Icon */
.dx-treeview-toggle-item-visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 36px;
  left: 0;
  top: 0;
}

.dx-treeview-toggle-item-visibility::before {
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  position: unset !important;

  content: "";
  background: url("../../../assets/img/open-tree-item.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened::before {
  content: "";
  background: url("../../../assets/img/close-tree-item.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */
.ms-tree-view__footer {
  padding: 12px 16px;
  border-top: 1px solid var(--border-color);
}
