.main-content {
  flex-grow: 1;
  height: calc(100vh - 56px);
  background-color: var(--background-color);
  overflow-y: auto;
  padding: 24px;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* page header */
.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__title-wrapper {
  display: flex;
  align-items: center;
}

.page__title {
  font-size: 24px;
}

.page__title-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--secondary-text-color);
  margin-left: 12px;
  cursor: pointer;
}

.page__header-controls {
  display: flex;
}

.page__header-btn + .page__header-btn {
  margin-left: 12px !important;
}

/* page content */
.page__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  background-color: var(--white);
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.filter-container {
  height: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--white);
}

.filter__select-infor {
  display: flex;
  align-items: center;
  column-gap: 12px;
  display: none;
}

.filter__right {
  display: flex;
  column-gap: 12px;
}
