.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    padding: 0 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn + .btn {
    margin-left: 16px;
}

.btn:disabled {
    opacity: 56%;
    cursor: default;
}

/* primary button */
.btn.btn-primary {
    background: var(--primary-color-500);
    border-color: var(--primary-color-500);
    color: var(--white);
}

.btn.btn-primary:hover {
    background: var(--primary-color-400);
}

.btn.btn-primary:active {
    background: var(--primary-color-700);
    border-color: var(--primary-color-700);
}

/* secondary button */
.btn.btn-secondary {
    background: var(--white);
    border-color: var(--border-color);
    color: var(--primary-text-color);
}

.btn.btn-secondary:hover {
    background: var(--gray-100);
}

.btn.btn-secondary:active {
    background: var(--gray-200);
}

/* button link */
.btn.btn-link {
    min-width: auto;
    background: transparent;
    color: var(--primary-color-500);
    padding: 0;
}

.btn.btn-link:hover {
    color: var(--primary-color-400);
}

.btn.btn-link:active {
    color: var(--primary-color-700);
}

/* button icon */
.btn .left-icon,
.btn .icon {
    display: inline-block;
    width: 20px;
    font-size: 20px;
}

.btn .left-icon {
    margin-right: 4px;
}

.btn.with-icon {
    padding-left: 12px;
}

.btn.btn-icon {
    min-width: 10px;
    padding: 0px 8px;
    background: var(--green-100);
    color: var(--primary-color-500);
}

.btn.btn-icon:hover {
    color: var(--primary-color-400);
}

.btn.btn-icon:active {
    color: var(--white);
    background: var(--primary-color-700);
}

/* button dropdown */
.btn.with-dropdown {
    padding-right: 0;
}

.btn .dropdown-toggle {
    padding: 0 12px;
    margin-left: 16px;
    font-size: 16px;
    position: relative;
}

.btn .dropdown-toggle::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background: var(--white);
    position: absolute;
    left: 0;
}
