.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    padding: 0 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.btn + .btn,
.btn + .btn-group,
.btn-group + .btn,
.btn-group + .btn-group {
    margin-left: 16px;
}

.btn:disabled {
    opacity: 56%;
    cursor: default;
}

/* button link */
.btn.btn-link {
    min-width: auto;
    background: transparent;
    color: var(--primary-color-500);
    padding: 0;
}

.btn.btn-link:hover {
    color: var(--primary-color-400);
}

.btn.btn-link:active {
    color: var(--primary-color-700);
}

/* button icon */
.btn .left-icon,
.btn .icon {
    display: inline-block;
    width: 20px;
    font-size: 20px;
}

.btn .left-icon {
    margin-right: 4px;
}

.btn.with-icon {
    padding-left: 12px;
}

.btn.btn-icon {
    min-width: 10px;
    padding: 0px 8px;
}

/* primary button */
.btn.btn-primary {
    background: var(--primary-color-500);
    border-color: var(--primary-color-500);
    color: var(--white);
}

.btn.btn-primary:hover {
    background: var(--primary-color-400);
    border-color: var(--primary-color-400);
}

.btn.btn-primary:active {
    background: var(--primary-color-700);
    border-color: var(--primary-color-700);
}

/* secondary button */
.btn.btn-secondary {
    background: var(--white);
    border-color: var(--border-color);
    color: var(--primary-text-color);
}

.btn.btn-secondary:hover {
    background: var(--gray-100);
}

.btn.btn-secondary:active {
    background: var(--gray-200);
}

/* inverse button */
.btn.btn-inverse {
    background: var(--green-100);
    border-color: var(--green-100);
    color: var(--primary-color-500);
}

.btn.btn-inverse:hover {
    color: var(--primary-color-400);
}

.btn.btn-inverse:active {
    color: var(--white);
    background: var(--primary-color-700);
    border-color: var(--primary-color-700);
}

/* button group */
.btn-group {
    display: flex;
}

.btn-group .btn {
    margin-left: 0;
    border-radius: 0;
}

.btn-group :not(.btn:first-child) {
    border-left-color: var(--white) !important;
}

.btn-group .btn:first-child {
    border-radius: 4px 0 0 4px;
}
.btn-group .btn:last-child {
    border-radius: 0 4px 4px 0;
}

.btn-group .btn.btn-icon {
    padding: 0 12px !important;
}

.btn-group .btn.btn-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    font-size: 16px;
}
