.ms-table-container {
    width: fit-content;
    max-width: 100%;
    max-height: 336px; /* 5 rows */
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow-y: auto;
}

.ms-table-container::-webkit-scrollbar-track {
    background: var(--gray-200);
}

.ms-table {
    width: 100%;
    font-family: var(--primary-font);
    border-collapse: collapse;
}

.ms-table tr:last-child td {
    border-bottom: none;
}

.ms-table tr:hover {
    background-color: var(--gray-100);
}

.ms-table td,
.ms-table th {
    height: 48px;
    font-size: 14px;
    padding: 0 16px;
    vertical-align: middle;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);
}

.ms-table th {
    position: sticky;
    top: 0;
    font-weight: 700;
    text-align: left;
    background-color: var(--gray-200);
}

.ms-table td:first-child,
.ms-table th:first-child {
    padding-right: 0;
}

.ms-table td img {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 100px;
    object-fit: cover;
    border: 1px solid var(--border-light);
}

.ms-table input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

/* footer */
.ms-table-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding: 12px 16px;
    font-family: var(--primary-font);
    font-size: 14px;
}

.ms-table-footer .page-infor {
    display: flex;
    align-items: center;
}

.ms-table-footer .page-size-select {
    display: flex;
    align-items: center;
}

.ms-table-footer .dropdown-toggle {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.ms-table-footer .table-range {
    margin-left: 16px;
}

.ms-table-footer .page-controls {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.ms-table-footer .prev-page-btn,
.ms-table-footer .next-page-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
}

.ms-table-footer .next-page-btn {
    background: url("../assets/icon/angle-right-b.svg");
    background-repeat: no-repeat;
    margin-left: 16px;
}

.ms-table-footer .prev-page-btn {
    background: url("../assets/icon/angle-left-b.svg");
    background-repeat: no-repeat;
}

.ms-table-container .text-bold {
    font-weight: 700;
}
