.ms-table {
  flex-grow: 1;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

#grid-container {
  height: 100%;
}

.ms-table td {
  position: relative;
  height: 48px;
  padding: 0 12px !important;
  vertical-align: middle !important;
}

.ms-table .dx-selection td {
  background-color: var(--primary-color-50) !important;
}

.ms-table .dx-header-row td::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;
  height: 80%;
  width: 0px;
  border-right: 1px solid var(--border-color);

  display: none;
}

.ms-table .dx-header-row td:hover::after {
  display: block;
}

.dx-header-row td {
  border-bottom: none !important;
}

.dx-datagrid-text-content {
  color: var(--primary-text-color);
}

.ms-table__cell-text-wrap {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* action column */
.ms-table .ms-table__action-column {
  padding: 0 !important;
  position: sticky !important;
  right: 0;
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  background: none !important;
  z-index: 9 !important;
  border: none !important;
  margin: 0 !important;
  overflow: unset !important;
  padding-left: 0 !important;
}

.ms-table__action-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 16px), -50%);
  display: flex;
  align-items: center;
  column-gap: 12px;

  display: none;
}

.dx-state-hover .ms-table__action-container {
  display: flex !important;
}

/* header cell */
.ms-table__header-cell {
  display: inline-flex;
  width: 100%;
}

.ms-table__sort-icon {
  margin-left: 4px;
  color: var(--secondary-text-color);
}

.ms-table__sort-icon.--order-asc {
  transform: rotate(180deg);
}

.ms-table__pin-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;

  display: none;
}

.ms-table__pin-icon.--active {
  display: block;
  color: var(--primary-color-500);
}

.ms-table .dx-header-row td:hover .ms-table__pin-icon {
  display: block;
}

.dx-datagrid .dx-sort-up,
.dx-datagrid .dx-sort-down {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../../../assets/img/arrow-down.svg");
}
.dx-datagrid .dx-sort-up {
  transform: rotate(180deg);
}
.dx-datagrid .dx-sort-up::before,
.dx-datagrid .dx-sort-down::before {
  font-family: var(--primary-font) !important;
  content: "" !important;
}

.dx-datagrid .dx-column-indicators {
  display: inline-flex;
}

/* scroll bar*/
.dx-scrollbar-hoverable .dx-scrollable-scroll.dx-state-invisible .dx-scrollable-scroll-content {
  background-color: var(--gray-500);
}

.dx-scrollable-scroll-content {
  background-color: var(--gray-500);
  border-radius: 50px;
}

.dx-scrollbar-horizontal .dx-scrollable-scroll {
  height: 10px;
}

.dx-scrollbar-vertical .dx-scrollable-scroll {
  width: 10px;
}

/* table solid style */
.ms-table.--solid-style {
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.ms-table.--solid-style .dx-header-row td {
  background-color: var(--gray-200);
  font-weight: 500;
}
