/* Radio box */
.dx-radiobutton-icon {
  border: 2.5px solid var(--secondary-text-color);
  width: 20px;
  height: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    display: none;
  }
}

.dx-radiobutton.dx-state-hover .dx-radiobutton-icon {
  border-color: var(--secondary-text-color);

  &::after {
    display: block;
  }
}

.dx-radiobutton.dx-state-focused .dx-radiobutton-icon {
  border-color: var(--secondary-text-color);

  &::after {
    display: block;
  }
}

.dx-radiobutton-icon.dx-radiobutton-icon-checked {
  border-color: var(--primary-color-500) !important;
}

.dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
  background-color: var(--primary-color-500);
  border-width: 3.5px;
}
