@import "./base.scss";
@import url("./base/animation.scss");

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

html {
  font-size: 14px;
}

body {
  overflow: hidden;
}

.main {
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  height: calc(100vh - 56px);
}

/* ----- flexbox ----- */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.col-gap-8 {
  column-gap: 8px;
}
.col-gap-16 {
  column-gap: 16px;
}
.col-gap-24 {
  column-gap: 24px;
}

/* ----- space ----- */
.mt-16 {
  margin-top: 16px;
}

.ms-12 {
  margin-left: 12px;
}
.ms-16 {
  margin-left: 16px;
}
.ms-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

/* ----- text ----- */
.h1 {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.text-bold {
  font-weight: 700;
}

.text-align--center {
  text-align: center !important;
}

.text-align--start {
  text-align: left !important;
}

.text-align--end {
  text-align: right !important;
}

/* ----- scroll bar ----- */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
