/* ----- main content ----- */
.main-content {
  flex-grow: 1;
  height: calc(100vh - 56px);
  background-color: var(--background-medium-color);
  overflow-y: auto;
  padding: 16px 24px 24px;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ----- page header ----- */
.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__title-wrapper {
  display: flex;
  align-items: center;
}

.page__title {
  font-size: 20px;
  line-height: 20px;
}

.page__title-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--secondary-text-color);
  margin-left: 12px;
  cursor: pointer;
}

.page__header-controls {
  display: flex;
  column-gap: 8px;
}

/* ----- page content ----- */
.page__content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--white);
  border-radius: 4px;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.controls-wrapper {
  height: 60px;
  flex-shrink: 0;
}

/* selection container */
.selection-container {
  height: 100%;
  display: flex;
  padding: 0 16px;
  align-items: center;
}

.selection-info {
  display: flex;
  align-items: center;
}

.selection-info__number {
  margin-left: 4px;
}

.v-separate {
  margin: 0 10px;
  width: 1px;
  height: 16px;
  background-color: var(--gray-500);
}

.selection-controls {
  display: flex;
}

.selection-controls__group {
  padding-left: 16px;
  display: flex;
  column-gap: 8px;
}

/* filter container */
.filter-container {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--white);
  transition: all 0.2s ease;
}

.filter__left {
  flex-shrink: 0;
}

.filter__right {
  padding-left: 24px;
}

.filter__select-infor {
  display: flex;
  align-items: center;
  display: none;
}

.filter__select-infor.--active {
  display: flex;
}

.filter__right {
  display: flex;
  column-gap: 12px;
}
