.ms-spinner {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-right-color: transparent;
  animation: spin89345 0.5s linear infinite;
}

.ms-spinner.--absolute {
  position: absolute;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ms-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff9d;
  color: var(--primary-color-500);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  user-select: none;
}
