.ms-filter-popup {
  position: fixed;
  height: calc(100vh - 57px);
  top: 57px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 330px;

  background-color: var(--white);
  box-shadow: var(--box-shadow-medium);
  z-index: 5;
  user-select: none;

  animation: fadeInRight 0.2s ease;
}

/* header */
.ms-filter-popup__header {
  padding: 16px 16px;
}

.ms-filter-popup__header-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.ms-filter-popup__close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: var(--primary-text-color);
  }
  &:active {
    color: var(--secondary-text-color);
  }
}

/* content */
.ms-filter-popup__scroll {
  flex: 1;
  overflow-y: auto;
}

.ms-filter-popup__content {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  overflow-y: auto;
}

/* item with radio button */
.ms-filter-popup__item {
  padding: 11px 10px;
  margin-bottom: 8px;
  border-radius: 4px;

  &.--enabled {
    background-color: var(--gray-100);
  }
  &.--enabled .ms-filter-popup__item-header {
    padding-bottom: 10px;
  }
  &.--separate-header.--enabled .ms-filter-popup__item-header {
    border-bottom: 1px solid var(--border-color);
  }
}

.ms-filter-popup__item-header {
  display: flex;
  align-items: center;
}

.ms-filter-popup__item-content {
  padding-top: 10px;

  .dx-radiogroup-horizontal .dx-collection {
    column-gap: 8px;
  }
  .dx-radiogroup-horizontal .dx-collection .dx-radiobutton {
    flex-grow: 1;
  }
}

/* item with input */
.ms-filter-popup__input-wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;

  & + .ms-filter-popup__input-wrap {
    margin-top: 18px;
  }
}

.ms-filter-popup__input-label {
  flex: 4;
}

.ms-filter-popup__input {
  flex: 8;
}

/* footer */
.ms-filter-popup__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
  padding: 16px;
  border-top: 1px solid var(--border-color);
}
