.ms-table {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0 0 4px 4px;
}

.ms-table__container {
  flex: 1;
  overflow: auto;
}

.ms-table__container::-webkit-scrollbar-track {
  background: var(--gray-200);
}

/* table */
.ms-table__table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

.ms-table__table tr:last-child td {
  border-bottom: none;
}

.ms-table__table tr {
  position: relative;
  transition: background 0.2s ease;
}

.ms-table__table tr:hover {
  background: var(--gray-100);
}

.ms-table__table tr:hover .ms-table__actions {
  display: flex;
}

.ms-table__table tr.--active {
  background-color: var(--primary-color-50);
}

.ms-table__table td,
.ms-table__table th {
  height: 48px;
  font-size: 14px;
  padding: 0 16px;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 1px solid var(--border-color);
}

.ms-table__table th {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 700;
  text-align: left;
  background: var(--gray-200);
  transition: background 0.2s ease;
  user-select: none;
}
.ms-table__table th:hover {
  background: var(--gray-300);
}

.ms-table__table td:first-child,
.ms-table__table th:first-child {
  padding-right: 0;
  width: 32px;
}

/* .ms-table__table th:not(:first-child) {
    overflow: auto;
    resize: horizontal;
} */

.ms-table__col-resize {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  user-select: none;
  cursor: col-resize;
}

.ms-table__table td:nth-child(2),
.ms-table__table th:nth-child(2) {
  border-right: 1px solid var(--border-color);
}

.ms-table__table td img {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 100px;
  object-fit: cover;
  border: 1px solid var(--border-light);
}

.ms-table__table input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/* table actions */
.ms-table__actions {
  position: absolute;
  right: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  background: transparent;
  display: none;
}

.ms-table__action-btn {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--white);
  border-radius: 50%;
  box-shadow: var(--box-shadow-medium);
  cursor: pointer;
  transition: background 0.2s ease;
}

.ms-table__action-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  z-index: 1;
  display: none;
}

.ms-table__action-dropdown.--active {
  display: block;
}

.ms-table__action-dropdown.--active ~ .ms-tooltip {
  display: none;
}

.ms-table__action-btn:hover {
  background: var(--gray-100);
}
.ms-table__action-btn:active {
  background: var(--gray-200);
}

.ms-table__action-icon {
  width: 24px;
  height: 24px;
  background-color: var(--secondary-text-color);
}

/* table footer */
.ms-table__footer {
  background: var(--gray-200);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding: 12px 16px;
  font-size: 14px;
}

.ms-table__page-infor {
  display: flex;
  align-items: center;
}

.ms-table__page-size {
  display: flex;
  align-items: center;
}

.ms-table__dropdown-btn {
  width: 24px;
  height: 24px;
  background: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.ms-table__records-range {
  margin-left: 16px;
}

.ms-table__page-controls {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.ms-table__prev-btn,
.ms-table__next-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--secondary-text-color);
  cursor: pointer;
  user-select: none;
}

.ms-table__prev-btn.disable,
.ms-table__next-btn.disable {
  background: var(--disable-color);
}

.ms-table__next-btn {
  margin-left: 16px;
}
