.ms-table {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0 0 4px 4px;
}

.ms-table__container {
  flex: 1;
  overflow: auto;
}

.ms-table__container::-webkit-scrollbar-track {
  background: var(--gray-200);
}

/* table */
.ms-table__table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

.ms-table__table tr {
  position: relative;
}

.ms-table__table tr:hover td {
  background: var(--gray-100);
}

.ms-table__table tr:hover .ms-table__actions {
  display: flex;
}

.ms-table__table tr.--active td {
  background-color: var(--primary-color-50);
}

.ms-table__table td,
.ms-table__table th {
  position: relative;
  height: 48px;
  font-size: 14px;
  padding: 0 16px;
  vertical-align: middle;
  white-space: nowrap;
  transition: background 0.2s ease;
}

.ms-table__table td .ms-table__border-bottom,
.ms-table__table th .ms-table__border-bottom {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--border-color);
}
.ms-table__table td .ms-table__border-right,
.ms-table__table th .ms-table__border-right {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-right: 1px solid var(--border-color);
}
.ms-table__table td .ms-table__border-left,
.ms-table__table th .ms-table__border-left {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid var(--border-color);
}

.ms-table__table th {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: 700;
  text-align: left;
  background: var(--gray-200);
  transition: background 0.2s ease;
  user-select: none;
  cursor: pointer;
}
.ms-table__table th:hover {
  background: var(--gray-300);
}

.ms-table__table td:nth-child(2),
.ms-table__table th:nth-child(2) {
  padding-left: 0;
}

.ms-table__table th:last-child,
.ms-table__table th:first-child {
  cursor: default;
}

.ms-table__table-text-wrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden; /* Ẩn nội dung dư thừa */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
}

.ms-table__sort-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.ms-table__sort-wrap .ms-table__table-text-wrap {
  width: fit-content;
  max-width: 100%;
}

.ms-table__col-resize {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  user-select: none;
  cursor: col-resize;
}

.ms-table__table td img {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 100px;
  object-fit: cover;
  border: 1px solid var(--border-light);
}

.ms-table__table input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/* sticky column */
.ms-table__table th.--sticky-left {
  position: sticky;
  left: 0;
  z-index: 2;
}

.ms-table__table td.--sticky-left {
  position: sticky;
  left: 0;
  z-index: 1;
  background: var(--white);
}

.ms-table__table th.--sticky-right {
  position: sticky;
  right: 0;
  z-index: 2;
}

.ms-table__table td.--sticky-right {
  position: sticky;
  right: 0;
  z-index: 1;
  background: var(--white);
}

/* ----- table action ----- */
.ms-table__action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-500);
}

.ms-table__action-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--primary-color-500);
  cursor: pointer;
}
.ms-table__action-toggle {
  margin-left: 8px;
  cursor: pointer;
}

.ms-table__action-context {
  position: fixed;
  top: 50%;
  right: 56px;
  z-index: 2;
}

/* ----- table footer ----- */
.ms-table__footer {
  background: var(--gray-200);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  padding: 12px 16px;
  font-size: 14px;
}

.ms-table__page-infor {
  display: flex;
  align-items: center;
}

.ms-table__page-size {
  display: flex;
  align-items: center;
}

.ms-table__page-size-text {
  margin-right: 8px;
}

.ms-table__records-range {
  margin-left: 16px;
}

.ms-table__page-controls {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.ms-table__prev-btn,
.ms-table__next-btn {
  display: inline-block;
  color: var(--secondary-text-color);
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.ms-table__prev-btn:hover,
.ms-table__next-btn:hover {
  color: var(--primary-text-color);
}

.ms-table__prev-btn:active,
.ms-table__next-btn:active {
  color: var(--secondary-text-color);
}

.ms-table__prev-btn.--disable,
.ms-table__next-btn.--disable {
  color: var(--disable-color);
  cursor: not-allowed;
}

.ms-table__next-btn {
  margin-left: 16px;
}

/* text align */
.ms-table .--align-left .ms-table__table-text-wrap {
  text-align: left;
}
.ms-table .--align-right .ms-table__table-text-wrap {
  text-align: right;
}
.ms-table .--align-center .ms-table__table-text-wrap {
  text-align: center;
}

.ms-table .--align-left .ms-table__sort-wrap {
  justify-content: flex-start;
}
.ms-table .--align-right .ms-table__sort-wrap {
  justify-content: flex-end;
}
.ms-table .--align-center .ms-table__sort-wrap {
  justify-content: center;
}

/* sort icon */
.ms-table__sort-icon {
  align-items: center;
  color: var(--secondary-text-color);
  margin-left: 4px;
  display: none;
}

/* Sắp xếp giảm dần */
.ms-table__sort-icon.--desc {
  display: flex;
}
/* Sắp xếp tăng dần */
.ms-table__sort-icon.--asc {
  display: flex;
  transform: rotate(180deg);
}

/* filter */
.ms-table__filter {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
  background-color: var(--gray-200);
  transition: background 0.2s ease;

  display: none;
}

.ms-table__table th:hover .ms-table__filter {
  display: block;
  background-color: var(--gray-300);
}

.ms-table__filter.--active {
  display: block;
}

.ms-table__filter.--filtering {
  display: block;
  color: var(--primary-color-500);
}

.ms-table__filter-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--white);
  box-shadow: var(--box-shadow-medium);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.ms-table__filter-dropdown::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% + 2px));
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 8px;
  border-bottom-color: var(--white);
}

.ms-table-filter {
  min-width: 300px;
  border-radius: 4px;
}

.ms-table-filter__header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 24px 16px 0;
}

.ms-table-filter__content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 16px 16px 24px;
}

.ms-table-filter__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
  background-color: var(--background-color);
  padding: 10px 16px;
  border-top: 1px solid var(--border-color);
}
