.ms-select {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ms-select:hover {
  background: var(--gray-100);
}

.ms-select:focus-within {
  border-color: var(--primary-color-500);
}

.ms-form__group.--error .ms-select {
  border-color: var(--red-500);
}

.ms-select__input {
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 12px;
  font-size: 14px;
  flex: 1;
  cursor: pointer;
}

.ms-select__input::placeholder {
  font-size: 14px;
  color: var(--gray-400);
}

.ms-select__input:placeholder-shown ~ .ms-select__clear {
  display: none;
}

.ms-select__toggle {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 0 4px 4px 0;
  user-select: none;
  color: var(--secondary-text-color);
}

.ms-select__clear {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: var(--gray-300);
  color: var(--secondary-text-color);
  border-radius: 50%;
}

/* select list */
.ms-select__list-container {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  background-color: var(--white);
  border-radius: 4px;
  padding: 8px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: default;
}

.ms-select__select-list {
  flex: 1;
  list-style: none;
  overflow-y: auto;
}

.ms-select__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 8px;
  font-size: 14px;
  color: var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.ms-select__item:hover {
  background: var(--green-50);
}

.ms-select__item.--pre-select {
  background: var(--green-50);
}

.ms-select__item.--selected {
  color: var(--light-green-500);
}
.ms-select__item.--selected .ms-select__item-icon {
  display: block;
}
.ms-select__item-icon {
  display: none;
}

/* combobox */
.ms-select.--show-search .ms-select__toggle {
  padding: 0 12px;
  border-left: 1px solid var(--border-color);
}
.ms-select.--show-search .ms-select__clear {
  display: none;
}
.ms-select.--show-search .ms-select__list-container {
  max-height: 380px;
}
